@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-container {
  height: 100vh;
  background-image: url("backgroung.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  width: 30%;
  border: 7px solid #a9a6a6;
  background-color: white;
}

#form-data {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#email-input, #password-input {
  width: 100%;
  margin: 10px 0 15px 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #a9a6a6;
  outline: none;
}

.form-label {
  font: bold 15px "Calibri Light";
}

#remember-label {
  font: 14px "Calibri Light";
}

#remember-check {
  margin-right: 5px;
}

#login-form h3 {
  font: italic bold 23px "Trebuchet MS";
  margin: 15px 0;
  text-align: center;
}

#login-form hr {
  width: 100%;
  margin: 0;
}

#submit-button {
  width: 70%;
  border-radius: 20px;
  padding: 5px;
  margin: 10px auto 0;
  font-size: 15px;
  color: white;
  border: none;
  background-color: #4986f3;
  cursor: pointer;
}

.error-message {
  margin-bottom: 10px;
  font-size: 12px;
  color: #d02f2f;
}

#weather-container {
  font-family: "Calibri", sans-serif;
}

#weather-container main {
  padding: 20px;
}

#weather-container header {
  display: flex;
  background-color: #5097e0;
  color: white;
  padding: 20px;
  align-items: center;
}

header span {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  margin-right: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin: 0 10px;
}

ul a {
  font: 17px "Calibri";
  text-decoration: none;
  color: white;
}

ul a:hover {
  color: #063483;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sun-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 20px;
}

.sun-info div span:first-child {
  margin-right: 20px;
  font-weight: bold;
}

#location span:first-child {
  font-size: 60px;
  margin-right: 10px;
}

#location span:nth-child(2) {
  font-size: 20px;
}

#weather {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.day-weather {
  display: flex;
  flex-direction: column;
  width: 17%;
  min-width: 170px;
  margin-bottom: 20px;
}

.day-weather h3 {
  color: #5097e0;
  font-weight: normal;
  font-size: 27px;
  margin: 0;
}

.day-weather img {
  width: 35%;
}

.condition {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

.day-weather div {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.temp {
  font-size: 20px;
}

.day-weather div span:first-child{
  font-weight: bold;
}

#loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}